
h1{
	color: #252422
}

body{
	background-color: #614915;
}

p{
	color: #252422;
}

.brownParagraph{
	color: #252422;
}

table{
	border-style: dotted;
	border-color: #003049;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-style: dashed;
	border-color: #669bbc;
}
table{
	border-width: 4px;
}
td{
	border-width: 2px;
}
body{
	background-image: url("");
	background-size: 100%;
	background-color: #babd8c;
}

img{
	border-radius: 25px;
}

img:hover{
	opacity: 0.75;
}

ul{
	list-style-type: none;
	background-color: #d2d4b6;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 50px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #1a4206;

}
li a:hover{
	background-color: #9ad67c;
}
.active{
	border-bottom: 2px solid #1a4206;
}