
h1{
	color: #252422
}

body{
	background-color: #f9f7f3;
}

p{
	color: #252422;
	font-size: 25px;
}
table{
	border-style: solid;
	border-color: #000814;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-style: dashed;
	border-color: #000814;
}
ul{
	list-style-type: none;
	background-color: #dad7cd;
	overflow: hidden;
}
li{
	display: block;
	float: left;
	width: 70px;
}
li a{
	float: left;
	display: block;
	width: 50px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #1a4206;
}
li a:hover{
	background-color: #6c757d;
}
.active{
	border-bottom: 2px solid #1a4206;
}